.modal {
 background-color:rgba(0,0,0, .4);   
}

.form-container {
    padding: 15px;
    background-color:rgba(0,0,0, .6);
    color: white;
    width: 60%;
    
}

.modal-body {
 background-color:rgba(0,0,0, .7); 
 color: white;  
}

.modal-header {
 background-color:#5cb85c; 
 width: 100%;  
}
h2 {
    color:white;
}
body{
background-image: url('images/background.jpg');
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 50px;
}